---
 const personalImageAlt = "Camilo Mora"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-emerald-500 dark:[&>p>strong]:text-emerald-300 text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Camilo Mora. Empecé en la
      programación con una "probada" de la universidad. Tengo fetiche en la<strong
        > experiencia del usuario y el codigo escalable.</strong
      >
    </p>

    <p>
      Mi mejor habilidad es <strong>la adaptabilidad </strong>, lo que me ha permitido trabajar en diferentes proyectos y
      tecnologías. Me encanta compartir mi conocimiento y ayudar a otros a
      aprender.

    </p>

    <p>
      Mi motivación como desarrollador radica en la versatilidad del trabajo, donde puedo sumergirme en proyectos diversos, <strong> brindando soluciones innovadoras </strong> que impacten positivamente a los usuarios.
    </p>
  </div>

  <img width="200" height="200" src="/me_baby.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-2 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-emerald-500/5 ring-1 ring-emerald-200/20 " style="object-position: 20% 50%">

</article>
