---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarollador Web",
    company: "Piyion INC",
    description:
      "Encargado de optimizar funcionalidades clave en la plataforma para mejorar la experiencia del usuario y contribui en la refactorización del código para garantizar la escalabilidad y mantenibilidad del producto.",
    socialSkills: ["Trabajo en equipo", "Iniciativa", "Adaptabilidad", "Resolución de problemas"]
  },
  {
    date: "Feb 2023 - Oct 2023",
    title: "Front End Developer",
    company: "Skys Mobile Apps",
    description:
      "Líder de la plataforma, a cargo de implementar la arquitectura de la aplicación y tomar decisiones centradas en la experiencia del usuario y la escalabilidad del producto.",
    socialSkills: ["Liderazgo", "Pensamiento crítico", "Innovación", "Comunicación"]
  },
  {
    date: "Jun 2022 - Mar 2023",
    title: "Junior Web Developer",
    company: "Autoparti",
    description:
      "Encargado de los dos proyectos principales de la empresa, en los que se implementaron las funcionalidades requeridas para lograr el primer MVP del producto.",
    socialSkills: ["Proactivo", "Flexible", "Estratégico", "Persuasivo"]
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
