<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition border-2 border-emerald-900/20 bg-emerald-100 rounded-full dark:bg-emerald-900/20 dark:text-emerald-100 lg:text-sm xl:text-base hover:bg-emerald-600 hover:border-emerald-700 dark:hover:border-emerald-600/80 group max-w-fit hover:text-white font-medium"
>
  <slot />
</a>
